@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060712;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), monospace;
  overflow-x: hidden;
  margin: 24px 0px 24px 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 64px;
}

.title {
  font-family: var(--font-jersey), sans-serif;
  font-weight: 200;
  font-size: 72px;
  background: linear-gradient(89deg, #EF7FA9 -2.38%, #CFDBD6 24.05%, #F5E2C2 50.49%, #7FACEF 76.93%, #A080C8 103.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-glow {
  background: linear-gradient(89deg, rgba(239, 127, 169, 0.50) -2.38%, rgba(207, 219, 214, 0.50) 24.05%, rgba(245, 226, 194, 0.50) 50.49%, rgba(127, 172, 239, 0.50) 76.93%, rgba(160, 128, 200, 0.50) 103.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: blur(12px);
}