:root {
  --system-size: 360px;

  --center-size: 90px;
  --planet-size: 44px;

  --center-color: #facc15;
  --planet-color: #60a5fa;
  --orbit-color: rgba(255, 255, 255, 0.4);

  --text-color: #0f172a;
}

.solar-system {
  position: relative;
  width: 100vw;
  height: 100vh;
}


/* Center planet */
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--center-color);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Orbit ring */
.orbit-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px dotted var(--orbit-color);
}

/* Planet buttons */
.planet {
  position: absolute;
  width: 160px;
  height: 160px;
}

/* Hard-coded positions */
.planet-top {
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.planet-right {
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
}

.planet-bottom {
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.planet-left {
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}

.planet-core {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #64748b;
  z-index: 2;
  position: relative;
}


.moons {
  position: absolute;
  inset: 0;
}

.moon {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #94a3b8;
}

/* Top */
.moon-0 {
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

/* Right */
.moon-1 {
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
}

/* Bottom */
.moon-2 {
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

/* Left */
.moon-3 {
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
}

/*on hover, shadow, on click change shadow color, deselect brings back to */