:root {
  --system-size: 360px;

  --center-size: 90px;
  --planet-size: 44px;

  --center-color: #facc15;
  --planet-color: #60a5fa;
  --orbit-color: rgba(255, 255, 255, 0.4);

  --text-color: #0f172a;
}

.solar-system {
  position: relative;
  width: 100vw;
  height: 140vh;
}


/* Center planet */
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--center-color);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Orbit ring */
.orbit-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px dotted var(--orbit-color);
}

/* Planet buttons */
.planet {
  position: absolute;
  width: 140px;
  height: 140px;
}

.planet-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
}


.planet-button:hover .planet-core {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.4);
}

.planet-button.selected .planet-core {
  box-shadow: 0 0 26px rgba(99, 102, 241, 0.9);
}

/* Hard-coded positions */
.planet-top {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.planet-right {
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
}

.planet-bottom {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.planet-left {
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.planet-core {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #64748b;
  z-index: 2;
  position: relative;
}

/*To make grace's png fit better*/
.padded-planet .planet-core img {
  transform: scale(1.6);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.moons {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.moon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #94a3b8;
}

.moon .circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moon .circle img {
  width: 80%;
  height: 80%;
}

/* Top */
.moon-0 {
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

/* Right */
.moon-1 {
  top: 50%;
  right: -70px;
  transform: translateY(-50%);
}

/* Bottom */
.moon-2 {
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}

/* Left */
.moon-3 {
  top: 50%;
  left: -70px;
  transform: translateY(-50%);
}

/*on hover, shadow, on click change shadow color, deselect brings back to */